.mc-change-password-form {
  color: $light_text;
}

.mc-change-password-form input {
  background-color: $input_bg;
}

.mc-change-password-form input.ng-invalid.ng-touched {
  background-color: $red_invalid;
}

.mc-change-password-form input.ng-valid.ng-touched {
  background-color: $input_bg;
}
