@import "../modules/colours";

.calories_too_many {
  background-color: $red_calories !important;
}

.calories_too_few {
  background-color: $green_calories !important;
}

.mc-meals {
  color: $light_text;
}

.mc-meals-form {
  position: relative;
  top: 7%;
}

.meal-filters {
  position: relative;
  height: 80px;
}

.mc-meals-form input {
  background-color: $input_bg;
}

.mc-meals-form input.ng-invalid.ng-touched {
  background-color: $red_invalid;
}

.mc-meals-form input.ng-valid.ng-touched {
  background-color: $input_bg;
}

