html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html, div, a, li {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px; }

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px; }

h3 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.3999996185303px; }

p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

blockquote {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }

pre {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714302062988px; }

a {
  color: #e7ffec; }

html, body {
  width: 100%;
  height: 100%; }

.mc-main {
  width: 100%;
  height: 100%;
  position: relative; }

.mc-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

[class*='col-'] {
  float: left; }

.col-1-2 {
  width: 49.5%; }

.col-1-4 {
  width: 24.5%; }

.col-1-4 {
  widht: 19.5%; }

.mc-page-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.mc-login-form {
  color: #e7ffec; }

.mc-login-form input {
  background-color: #e7ffec; }

.mc-login-form input.ng-invalid.ng-touched {
  background-color: #ff3852; }

.mc-login-form input.ng-valid.ng-touched {
  background-color: #e7ffec; }

#mc-button-change-pass {
  float: right; }

.mc-new-user-form {
  color: #e7ffec; }

.mc-new-user-form input {
  background-color: #e7ffec; }

.mc-new-user-form input.ng-invalid.ng-touched {
  background-color: #ff3852; }

.mc-new-user-form input.ng-valid.ng-touched {
  background-color: #e7ffec; }

#mc-button-sign-up {
  float: right; }

.mc-change-password-form {
  color: #e7ffec; }

.mc-change-password-form input {
  background-color: #e7ffec; }

.mc-change-password-form input.ng-invalid.ng-touched {
  background-color: #ff3852; }

.mc-change-password-form input.ng-valid.ng-touched {
  background-color: #e7ffec; }

#mc-button-login {
  float: right; }

.calories_too_many {
  background-color: #ff4c4c !important; }

.calories_too_few {
  background-color: #2a8048 !important; }

.mc-meals {
  color: #e7ffec; }

.mc-meals-form {
  position: relative;
  top: 7%; }

.meal-filters {
  position: relative;
  height: 80px; }

.mc-meals-form input {
  background-color: #e7ffec; }

.mc-meals-form input.ng-invalid.ng-touched {
  background-color: #ff3852; }

.mc-meals-form input.ng-valid.ng-touched {
  background-color: #e7ffec; }

.mc-welcome {
  color: #e7ffec; }

.mc-welcome-options {
  float: right; }

.mc_invalid {
  background-color: #ff3852 !important; }
