<form novalidate class="mc-login-form">
    <div class="mc-login-error" ng-show="result.error">
        {{ result.error }}
    </div>
    <div>
        <label for="username" class="col-1-2">Username</label>
        <input type="text" class="col-1-2" id="username"
               ng-model="user.username" required/>
        <label for="password" class="col-1-2">Password</label>
        <input type="password" class="col-1-2" id="password"
               ng-model="user.password" required/>
    </div>
    <input id="mc-button-login" type="submit" ng-click="login(user)"
           value="Login"/>
    <a class="mc-login-new-user-link" href="/#/sign-up"
       title="Create New User">Create New User</a>
</form>
